<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Opening and Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 1</label>
  </div>
  <div class="col-md-2">
    <input id="check1" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 2</label>
  </div>
  <div class="col-md-2">
    <input id="check2" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 3</label>
  </div>
  <div class="col-md-2">
    <input id="check3" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 4</label>
  </div>
  <div class="col-md-2">
    <input id="check4" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 5</label>
  </div>
  <div class="col-md-2">
    <input id="check5" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 6</label>
  </div>
  <div class="col-md-2">
    <input id="check6" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 7</label>
  </div>
  <div class="col-md-2">
    <input id="check7" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 8</label>
  </div>
  <div class="col-md-2">
    <input id="check8" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 9</label>
  </div>
  <div class="col-md-2">
    <input id="check9" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 10</label>
  </div>
  <div class="col-md-2">
    <input id="check10" type="text" class="form-control"
     name="kms" value="Distance in kms"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="times form-control">(times)</span>
  </div>
</div>
</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  
	$("#check1, #check2, #check3, #check4, #check5, #check6, #check7, #check8, #check9, #check10").keyup(function() {
// Do the following when the page is finished loading

           var e_kms = $(this).val();

           var target = $(this).parents(".row").find(".times");

           // DEBUG: How do I replace the 'times' field?
           // alert("Content of the field I want to change: " +
           //   target.html());

           // AJAX request
           $.getJSON($SCRIPT_ROOT + '/_calc_times',
               // The object to pass to the server
               { kms: e_kms },
               // The function to call with the response
               function(data) {
                  var times = data.result;
                  // alert("Got a response: " +  times);
                  target.text(times);
               }); // End of the call to getJSON
           

  });   // end of what we do on document ready

  // $(document).keyup(function(){
  //  // Do the following when the page is finished loading
  //
  //     // When a field named 'kms' is changed ...
  //     $('input[name="kms"]').change(
  //         // ... execute this function
  //         function(){
  //             var e_kms = $(this).val();
  //
  //             var target = $(this).parents(".row").find(".times");
  //
  //             // DEBUG: How do I replace the 'times' field?
  //             // alert("Content of the field I want to change: " +
  //             //   target.html());
  //
  //             // AJAX request
  //             $.getJSON($SCRIPT_ROOT + '/_calc_times',
  //                 // The object to pass to the server
  //                 { kms: e_kms },
  //                 // The function to call with the response
  //                 function(data) {
  //                    var times = data.result;
  //                    // alert("Got a response: " +  times);
  //                    target.text(times);
  //                 }); // End of the call to getJSON
  //         });  // End of the function to be called when field changes
  //
  //
  //    });   // end of what we do on document ready

</script>

</div>
</body> </html>
